services:
  backend:
    container_name: calorion_backend
    build:
      context: ./backend
    restart: unless-stopped
    expose:
      - "3000"

  frontend:
    container_name: calorion_frontend
    build:
      context: ./frontend
    restart: unless-stopped
    expose:
      - "80"
